a
{
  color: blue;
  font-family: sans-serif;
}

body
{
  float: center;
  text-align: center;
  background: white;
  color: black;
  font-family: sans-serif;
}

code.title
{
  margin-bottom:20pt;
  margin-left: 10%;
  float: left;
  font-size: 60;
  font-weight: 900;
  text-align: left;
  width:100%;
}

dd.list
{
  text-align: justify;
}

dl.help
{
  width: 100%;
  text-align: justify;
}

dt.projectname
{
  margin-left: 3%;
  color: black;
  font-weight: bold;
  text-decoration: underline
}

hr
{
  width: 80%;
}

img.example
{
  border: 0;
  margin-bottom: 10pt;
  margin-top: 10pt;
  width:100%;
}

img.projects
{
  border-color: white;
  border-width: thick;
  text-align: center;
}

p.body
{
  width: 80%;
  text-align: justify;
}

p.header
{
<!--  float: left; -->
  margin-left: 10%;
  font-weight: 900;
  font-size: 25;
  color: blue;
}

p.title
{
  margin-bottom: 20pt;
  margin-left: 25%;
  float: left;
  font-size: 30;
  font-weight: 900;
  text-align: left;
  width: 100%;
}

p.press
{
  color: red;
  width: 70%;
  font-weight: bold;
}

table.htable
{
  text-align: center;
  width: 80%;
  border: 1;
  background: gray;
}

table.research
{
  width: 75%;
  text-align: justify;
}

/* Header Links */
.hlink a:link {font-weight: bold;
               color: white;
               text-decoration: none;}
.hlink a:visited {font-weight: bold;
                  color: white;
                  text-decoration: none;}
.hlink a:hover {background: gray;
                color: white;
                font-weight: bold;
                text-decoration: none;}
.hlink a:active {font-weight: bold;
                 color: white;
                 text-decoration: none;}

/* Contact information  */
.contact a:link {color: blue;
                 font-style: italic;}
.contact a:visited {color: blue;
                    font-style: italic;}
.contact a:hover {color: blue;
                  font-style: italic;}
.contact a:active {color: blue;
                   font-style: italic;}

/* Press Release links */
.press a:link {color: blue;
               text-decoration: underline;}
.press a:visited {color: blue;
                  text-decoration: underline;}
.press a:hover {color: blue;
                text-decoration: underline;}
.press a:active {color: blue;
                 text-decoration: underline;}
